@import "tailwindcss";

@theme {
  --color-brand-red: #EF4444;
  --color-bg-dark: #070B14;
  --color-bg-panel: #0B1220;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

